<<<<<<< HEAD
@media only screen and (max-width: 500px) {
=======
@media(max-width: 500px) {
>>>>>>> 6f398f2eaf80eb32839d7c4aef172101a2673220
  body {
    display: block;
  }

  header {
    padding-top: 1.5rem;
    padding-right: 2rem;
    border: none;
  }

  .logo {
    display: none;
  }

  .first_nav_card {
    width: 100%;
  }

  .first_nav_card ul {
    height: 50px;
    box-shadow: 1px 1px 3px rgba(3, 3, 3, 0.2);
  }

  .second_nav_card {
    display: none;
  }

  .first_nav_card ul .nav_list {
    border: none;
  }

  .category_section {
    top: 6rem;
    margin: 0;
    padding: 2rem 0 1rem;
    box-shadow: 1px 1px 3px rgba(3, 3, 3, 0.2);
  }

  .category_feature {
    display: flex;
  }

  .feature_box {
    width: 95px;
    gap: 0.5rem;
  }

  .filter_button {
    display: none;
  }

  .chevron_icon {
    display: none;
  }

  .category_gallery_Section {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 14rem;
  }

  .gallery_content {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    padding: 0;
  }

  .gallery_box {
    width: 100%;
    margin: 0 auto;
  }

  .gallery_img {
    width: 100%;
  }
}

/****************** MEDIUM SCREEN ************************/
<<<<<<< HEAD
@media (min-width: 501px) and (max-width: 900px) {
=======
@media (min-width: 501px) and (min-width: 900px) {
>>>>>>> 6f398f2eaf80eb32839d7c4aef172101a2673220
  body {
    display: block;
  }
<<<<<<< HEAD
}
=======
  .gallery_content {
    grid-template-columns: 1fr 1fr;
  }
}
>>>>>>> 6f398f2eaf80eb32839d7c4aef172101a2673220
